// サンプルコードはコミットしない
確かな力が身につくJavaScript超入門/book-js
確かな力が身につくJavaScript超入門/Served-win32-x64
確かな力が身につくJavaScript超入門/work/_template
現場で使えるTypeScript詳解実践ガイド/ts-practice
// 画像はコミットしない(component-viwerでは使うのでそのフォルダは除く)
*.jpg
*.svg
!my-component-viewer/**/*.svg
//_commonはコミットしない
_common
//.txtファイルはコミットしない
*.txt
//.zipはコミットしない
*.zip
//.vsフォルダはコミットしない
C#/MarkdownViewerWith.NETFramewrk/.vs
C#/FileDownloadApiSample/.vs
//Debugフォルダ以下はコミットしない
C#/MarkdownViewerWith.NETFramewrk/MarkdownViewerWith.NETFramewrk/bin/Debug
C#/MarkdownViewerWith.NETFramewrk/MarkdownViewerWith.NETFramewrk/obj/Debug
C#/FileDownloadApiSample/bin
C#/FileDownloadApiSample/obj
C#/FileDownloadApiSample/FileDownloadApiSample/bin/Debug/
C#/FileDownloadApiSample/FileDownloadApiSample/obj/Debug/
*.suo
*.user